html
    head
        title= title
        style 
            include info.css
    body
        h2= message
        h3 Описание задачи для курса по React
        h3 Исходные данные:
        p Необходимо разработать фронтенд часть приложения для Библиотекаря (MVP)
        p Приложение должно обладать следующим минимальным функционалом:
        ul.tast-list
            li Регистрация нового пользователя. С занесением данных пользователя в базу
            li Выбор пользователя из списка. С поиском на стороне фронтенд и возможностью посмотреть какие у него книги в наличии
            li Занесение в картотеку данных о взятой книге по выбранному пользователю
            li Удаление книги при возврате книги пользователем
            li Каталог книг
            li Возможность посмотреть у кого книга на данный момент, добавить или убрать у пользователя книгу пользователю через Каталог
        
        h3 На данный момент есть API со следующими :
            ul.tast-list
                li спискаисок пользователей. GET /user
                li создание пользователя 
                li спискаисок пользователей
                li спискаисок пользователей
                li спискаисок пользователей
                li спискаисок пользователей
                li спискаисок пользователей
                li спискаисок пользователей


    
