html
    head
        title= title
        style 
            include info.css
    body
        h2= message
        h3 Описание задачи для курса по React
        h3 Исходные данные:
        p Необходимо разработать фронтенд часть приложения для Библиотекаря (MVP)
        p чем богаче функционал, тем лучше
        p Приложение должно обладать следующим минимальным функционалом:
        ul.tast-list
            li Список пользователей
            li Список авторов
            li Список книг
            li Добавить / убрать книгу у пользователя. (Для простоты книга в 1 экземпляре)

        h3 На данный момент есть API со следующими ендпоинтами:
        ul.task-list
            li Список пользователей. GET apiV1/user
            li Пользователь GET apiV1/user:id
            li Создать пользователя POST apiV1/user
            li Изменить пользователя PATCH apiV1/user/:id
            li Список авторов. GET apiV1/author
            li Автор GET apiV1/author:id
            li Создать автора POST apiV1/author
            li Список книг. GET apiV1/book (может содержать параметр ?userId)
            li Книга GET apiV1/book:id
            li Создать книгу POST apiV1/book
            li Изменить книгу PATCH apiV1/book/:id

        h3 Изменять бэкенд нельзя! Так как проверяться будет локально с тем бэкендом, что есть!
        h3 Для запуска проекта необходимо:
        ul.task-list
            li
                a(href="https://github.com/FrolovArkadiy/node-rest-api") https://github.com/FrolovArkadiy/node-rest-api

            li Запустить докеры с БД и API
            li выполнить docker-compose exec api npm run migrate (для наполнения базы)



    
