html
    head
        title= title
        style 
            include info.css
    body
        h2= message
        h3 Описание задачи для курса по React
        h3 Исходные данные:
        p Необходимо разработать фронтенд часть приложения для Библиотекаря (MVP)
        p Приложение должно обладать следующим минимальным функционалом:
        ul.tast-list
            li Список пользователей
            li Список авторов
            li Список книг
            li Добавить / убрать книгу у пользователя. (Для простоты книга в 1 экземпляре)
            li Каталог книг
            li Возможность посмотреть у кого книга на данный момент, добавить или убрать у пользователя книгу пользователю через Каталог
        
        h3 На данный момент есть API со следующими ендпоинтами :
        ul.task-list
            li Список пользователей. GET apiV1/user
            li Пользователь GET apiV1/user:id
            li Создать пользователя POST apiV1/user
            li Изменить пользователя PATCH apiV1/user/:id
            li Список авторов. GET apiV1/author
            li Автор GET apiV1/author:id
            li Создать автора POST apiV1/author
            li Список книг. GET apiV1/book
            li Книга GET apiV1/book:id
            li Создать книгу POST apiV1/book
            li Изменить книгу PATCH apiV1/book/:id


    
